*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  text-align: center;
}

select {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  background: white;
  padding: 0.5em 0.5em;
  border-radius: 0.5rem;
}
